public/**
public
**.osdi
**.ckt.ds
*/**/sim.log
*/**/spectra.raw
*/**/*.so
*/**/*.log
*/**/work.db
*/**/*.o
*/**/*.lo
*/**/*.la
*/**/*.lai
*/**/*.C
*/**/*adms*
*/**/*ams_work
*/**/*dc_annotation
*/**/*ckt_data
*/**/*sp_data
*/**/*.osdi
*/**/*.libs
*/**/*.h
*/**/*.h
*/**/*.latexmk
*/**/*.dvi